{% extends 'base.html.twig' %}

{% block title %}Cadastrar {% endblock %}

{% block body %}
    <h1>Cadastrar Empresa</h1>
    <hr>

    {% if is_granted("ROLE_USER") %}
        {% include "form/_form.html.twig" %}
    {% endif %}

{% endblock %}
