{% extends 'base.html.twig' %}

{% block title %}Cadastrar {% endblock %}

{% block body %}
    <h1>Atualizar Empresa - <small>{{ empresa.nome }}</small></h1>
    <hr>
    {% include "form/_form.html.twig" %}
{% endblock %}
