{% extends "base.html.twig" %}


{% block stylesheets %}
<style>
    form {
        position: relative;
        top: 200px;
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

            <form name="form" method="post">
                <div id="form">
                    <div>
                        <input class="form-control" type="text" id="pesquisa" name="pesquisa" required="required" />
                    </div>
                    <div>
                        <button class="btn btn-primary mt-3" type="submit" id="form_Enviar" name="form[Enviar]">Pesquisar</button>
                    </div>
                </div>
            </form>

    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
